.submitBtn{
	margin-top:50px;
}
.form-inline{
	margin-top: 50px;
}
.form-group{
	margin-left:260px;
}
.table-responsive{
	margin-top: 50px;
}
#title{
	font-size: 20px;
	margin-top: 50px;
}
#screen{
	width:91%;
	border:1px solid #000;
	text-align: center;
	margin-left: 7%;
	margin-top: 50px;
	background-color: #7662FC;
}
#table-screen{
	margin-top: 50px;
	margin-left:50px;
	border-spacing: 10px;
  	border-collapse: separate;
}
#table-screen-row{
	margin-top:10px;
}
.screen-map{
	margin-left: 50%;
	margin-top:-50px;
}
.reserved-seat{
	margin-left:4px;
	/*content: '';*/
    /*background: url('../img/reserved-seat.png');*/
}
.empty-seat{
	cursor: pointer;
	/*content: url('../img/empty-seat.png')*/
}
.booked-seat{
	cursor: pointer;
	content: url('../img/booked-seat.png');
}
.error{
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;

}

/*----------------------------------------------Button-------------------------------------*/

#pageintro{padding:00px 0;}
#pageintro article{display:box; max-width:100%; text-transform:capitalize; width:1000px; font-size:20px; }
#pageintro footer{margin-top:50px;}

.btn2, .btn2.inverse:hover{color:#FFFFFF; background-color:#5e5f5d; border-color:#6c6d6a; padding:6px;}
.btn2:hover, .btn2.inverse{color:inherit; background-color:transparent; border:1px solid #4b4b4b; padding:6px;}


.btn2{border-radius:1000px;}

#footer input, #footer button{border-radius:1px;}


#footer input, #footer button{border-color:transparent;}

#footer button{color:#FFFFFF; background-color:#525353;}

.inline li{display:block; margin-bottom:10px; margin-right: 30px;}
.pushright li{margin-right:0;}
